@import "tailwindcss";
@import "tailwindcss-animated";
@theme {
    /* colors */
    --color-mayormoto-blue: #403a67;   
    --color-mayormoto-blue-hover: #4c457d;   
    --color-mayormoto-pink: #e4157a;
    --color-body:#f5f5f5;
    --color-white: #ffffff;
    --color-rice: #E9E3E6
    /*text sizes  */
    --text-big: 10rem;

    /* breakpoints */
    --breakpoint-1400: 87.5rem;

    
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;
}