@import "tailwindcss";
@import "tailwindcss-animated";
@plugin 'tailwind-scrollbar';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}
@theme {
  /* colors */
  --color-mayormoto-blue: #403a67;
  --color-mayormoto-blue-hover: #4c457d;
  --color-mayormoto-pink: #e4157a;
  --color-body: #f9fafb;
  --color-white: #ffffff;
  --color-light-gray: #f0f0f4;
  /*text sizes  */
  --text-big: 10rem;

  /* breakpoints */
  --breakpoint-1400: 87.5rem;

  /* shadow */
  --shadow-1: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-1-hover: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}



.scrollbar-hide {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;       
  opacity: 0;           /* Safari and Chrome */
}

/* Thin scrollbar on hover */
.group:hover .scrollbar-hover {
  scrollbar-width: thin; /* Firefox */
}

/* Chrome, Edge, Safari */
.group:hover .scrollbar-hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 100;
}

.group:hover .scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 6px;
}


